{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Cat Detail</h1>

    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ cat.name }}</span>
        <p>Breed: {{ cat.breed }}</p>
        <p>Description: {{ cat.description|linebreaks }}</p>
        {% if cat.age > 0 %}
          <p>Age: {{ cat.age }}</p>
        {% else %}
          <p>Age: Kitten</p>
        {% endif %}
        {% if cat.image == '' %}
          <p>no image</p>
        {% elif 'http' in cat.image %}
          <img src="{{ cat.image }}" width="600px" height="auto" alt="cat" />
        {% else %}
          <img src="{% static cat.image %}" width="600px" height="auto" alt="cat" />
        {% endif %}
      </div>
    </div>

{% endblock %}
